/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h1 {
    margin: 5rem 0rem 0rem 0rem;
    font-size: 4vw;
}
body {
    font-family: Nunito, serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.border {
    padding: 5rem;
    margin: 2% 10%;
    border-radius: .75em; 
    border-style: solid;
    border-color: rgb(173, 216, 230)
}

.container {
    background-color: rgb(173, 216, 230);
    margin: 0% 20% 2% 20%;
    padding: 3rem;
    border-radius: .75em; 
    border-style: solid;
    border-color: #57b4d5;
}

.adding-task {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#input-box { 
    width: 80%;
    font-size: 1rem;
    font-family: Nunito, serif;
}

.submitted-tasks {
    background-color: rgba(0,0,0,0.05);
    margin: 0% 20%;
    padding: 2rem;
    border-radius: .75em; 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

li {
    margin-left: 1em;
}

#submitted {
    display: flex;
    flex-direction: column;
    border: solid #57b4d5;
    cursor: pointer;
    background-color: #c5e1e6;
    height: auto;
    padding: 1em;
    margin-bottom: 1rem;
}


button {
    font-size: 1rem;
    font-family: Nunito, serif;
}
/* #add-button 
    height: ;
*/

footer {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    background-color:rgba(173, 216, 230, 0.5);
}